body {
  width: 90%;
  font-family: Roboto, "Century Gothic", sans-serif;
}

#nav li {
  margin: .75em;
  list-style-type: none;
}

#nav a:link {
 padding: 0 5px 0 5px;
}

#nav a:visited {
 color: purple;
}

#nav a:hover {
 color: red;
 background-color: #ddffdd;
}

#nav a:active {
  padding: none;
}

/* li > */